# Python缓存文件
__pycache__/
*.py[cod]
*$py.class

# PyCharm项目文件（如果你使用PyCharm的话）
.idea/

# 虚拟环境（如果你使用虚拟环境的话）
venv/
env/
.env/

# 其他常见的Python相关文件
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
